[submodule "elisp/init-loader"]
	path = elisp/init-loader
	url = https://github.com/emacs-jp/init-loader.git
[submodule "elisp/pandoc-mode"]
	path = elisp/pandoc-mode
	url = https://github.com/joostkremers/pandoc-mode.git
[submodule "elisp/cmd_mode"]
	path = elisp/cmd_mode
	url = http://pf.sourceforge.jp/gitroot/t/ta/tarancho/cmd_mode.git
[submodule "elisp/groovy-mode"]
	path = elisp/groovy-mode
	url = https://github.com/russel/Emacs-Groovy-Mode.git
[submodule "elisp/haskell-mode"]
	path = elisp/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "elisp/emacs-quickrun"]
	path = elisp/emacs-quickrun
	url = https://github.com/syohex/emacs-quickrun.git
